<%= form_tag profiles_path, method: :post do %>
  <h2 class="white lobster">Profile<h2>
  <h4 class="white">Religion</h4>
  <%= text_field_tag :religion, nil, :placeholder => "jane darma" %>
  <h4 class="white">Rooms in your Home?</h4>
  <%= text_field_tag :rooms, nil, placeholder: "3"%>
  <h4 class = "inline white">City is <%=current_user.city%>?</h4> 
  <%= link_to "not correct", "#", id: "correct_city"%></br>
  <%= text_field_tag :city, nil, placeholder: "Paris", class: "hide", id: "city"%>
  <%= submit_tag "Create profile", class: "button", id: "create-profile"%>
<% end %>
