<div class="dark-banner-auto">
  <div class="dark-banner">
  <%= link_to "Dash", users_dashboard_path, class: "button small nav-link", 
    id: "dashboard-link" %>

    <div class="row">
      <div class="large-4 columns">
        <h1 class="white lobster">For Parents</h1>
      </div>
      <div class="large-8 columns">
        <%= link_to "Recent", guardians_recent_path, class: "button tiny"%>
        <%= link_to "Blocked", guardians_blocked_path, class: "button tiny"%>
        <%= link_to "Friends", guardians_friends_path, class: "button tiny"%>
        <%= link_to "Questions", guardians_questions_path, class: "button tiny"%>
        <%= link_to "Answers", guardians_answers_path, class: "button tiny"%>
      </div>
    </div>
    <div class = "row">
      <div class = "large-12 columns">
        <%= render partial: "guardians/log", 
          locals: {interactions: current_user.interactions}%>
      </div>
    </div>
  </div>
</div>
