<div class = "dark-banner">

<!-- #scaleable side bar --!>
  <div class = "small-2 medium-2 large-1" id="photo-wall" >
    <%= render partial: "photo_wall", locals: {photos: @photos, city: @city}%>
  </div>

  <%= link_to "For Parents", "#", class: "button", id: "for-parents-link" %>
  <%= link_to "Dashboard", users_dashboard_path, class: "button" %>

  <div class="row">
    <div class="small-7 medium-6 large-centered large-6 columns">
      <h2 class="lobster white"><%= @itenerary.journey.name.titleize%>'s 
        Itenerary</h2>
      <div class='dash-knob white center-text'>
        <%= current_user.city %>
      </div>
      <div class="center-text"id="miles-circle">
        <span id="miles"><%= @base %> m.</span>
      </div>
      <% @destinations.each do |city|%>
        <%= link_to  raw("<div class='dash-knob white center-text'>#{city}</div>"),
          itenerarys_choose_city_path(city: city, id: @itenerary.id),
          remote: true %>
        <% unless city == @destinations.last%>
          <div class="center-text" id= "miles-circle">
            <span id="miles"><%= @distance[city]%> m.</span>
          </div>
        <% end %>
      <% end %>
    </div>
   </div>
  </div>

  <!-- modal for images --!>
  <div class="hide" id="image-modal">
    <div id="modal-back-img"></div>
    <div id="profile-wrapper">
     <h1 class="white"><%= link_to "Close", "#", class: "button sm", 
       id: "close-image-modal" %></h1>
      <div id="profileBox">
        <div class="row">
          <div class="small-12 medium-12 large-6 columns">
              <img class = "hide" id = "full-image" src = "" >
          </div>
          <div class="small-4 medium-4large-6 columns">
            <% @destinations.each do |city| %>
             <ul>
               <li class="white", id: "image-description">
                 <%= link_to  raw("<div class='dash-knob white center-text'>
                                  #{city}</div>"),
                                   itenerarys_choose_city_path(city: city,
                                   id: @itenerary.id), 
                                   remote: true %>
               </li> 
             </ul>
           <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="white-banner white-banner">
  <div id="trip-details" class="center-text">
    <div id="circle-content">
      <h2 id="trip-details-title" class="lobster">Trip Details<h2>
      <h4 >Total Distance: <%= @total_distance%> m.</h4>
      <h4 >Destinations: <%= @destinations.count%></h4>
      <%= link_to "Start Journey", "#", class: "button success", id: "go"%>
    </div>
  </div>
</div>

