<div class = "dark-banner">
  <div id="photo-wall">
     <div id="photos-wrapper">
       <% @photos[@city].each do |photo|%>
         <%= image_tag photo, class: "city-img-th th", id: "city-image"%>
       <% end %>
     </div>
  </div>
  <div id="trip-details">
    <%= link_to "Map", "#", class: "button small center-text"%>
    <h2 id="trip-details-title" class="lobster center-text">Trip Details<h2>
    <h4 class="center-text">Total Distance: <%= @total_distance%> m.</h4>
    <h4 class="center-text">Destinations: <%= @destinations.count%></h4>
    <%= link_to "Start Journey", "#", class: "button success", id: "go"%>
  </div>

  <%= link_to "For Parents", "#", class: "button", id: "for-parents-link" %>
  <%= link_to "Dashboard", users_dashboard_path, class: "button" %>

  <div class="row auto">
    <div class="small-12 large-6 columns">
      <h1 class="lobster white"><%= @itenerary.journey.name.titleize%>'s 
        Itenerary</h1>
      <div class='dash-knob white center-text'>
        <%= current_user.city %>
      </div>
      <div class="center-text"id="miles-circle">
        <span id="miles"><%= @base %> m.</span>
      </div>
      <% @destinations.each do |city|%>
        <%= link_to  raw("<div class='dash-knob white center-text'>#{city}</div>"),
                         itenerary_path(@itenerary, city: city) %>
        <% unless city == @destinations.last%>
          <div class="center-text" id= "miles-circle">
            <span id="miles"><%= @distance[city]%> m.</span>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <!-- modal for images --!>
  <div class="hide" id="image-modal">
    <div id="modal-back"></div>
    <div id="profile-wrapper">
      <div class="row">
        <div class="hide-for-small medium-12
          medium-centered large-8 large-centered columns">
            <%= image_tag "big-globe.png", id: "modal-globe" %>
        </div>
      </div>
      <div id="profileBox">
        <div class="row">
          <div class="large-6 columns">
              <img id = "full-image" src = "" >
          </div>
          <div class="large-6 columns">
            <% @destinations.each do |city| %>
             <ul>
               <li class="white", id: "image-description">
                 <%= link_to city, itenerary_path(@itenerary, city: city) %>
               </li> 
             </ul>
           <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

