
<div class = "dark-banner auto">
<!-- #scaleable side bar --!>
  <div class = "small-2 medium-2 large-1" id="photo-wall" >
    <%= render partial: "photo_wall", locals: {photos: @photos, city: @city}%>
  </div>

  <%= link_to "Parents", "#", class: "button small nav-link", id: "for-parents-link" %>
  <%= link_to "Dash", users_dashboard_path, class: "button small nav-link", 
    id: "dashboard-link" %>
  <%= link_to "Map", "#",
    class: "button small nav-link", 
    id: "map-link" %> 
  <span class="hide" id="close-map-wrap">
    <%= link_to "X", "#",
      class: "button small nav-link", 
      id: "close-map-link" %> 
  </span>

 <div id="blur-wrapper">
 </div>

  <div id="map-wrapper">
    <div id="grayscale-wrapper">
      <div id="map"></div>
    </div>
  </div>

  <div class="row">
    <div class="small-8 medium-6 large-centered large-6 columns">
      <div id="content-wrapper">
        <h2 class="lobster white">Itenerary</h2>
        <div class="show" id="trip-details">
          <h6 class="white">Total Distance: <%= @total_distance%> m.</h6>
          <h6 class="white">Destinations: <%= @destinations.count%></h6>
          <%= link_to "Start Journey", "#", 
            class: "button small success", id: "go"%>
          <%= link_to "Cancel", journey_path(@journey),
            method: :delete,
            class: "small button alert", id: "go"%>
        </div>
        <div class="show" id="city-list">
          <div class='dash-knob white center-text'>
            <%= current_user.city %>
          </div>
          <div class="center-text"id="miles-circle">
            <span id="miles"><%= @base %> m.</span>
          </div>
          <% @destinations.each do |city|%>
          <%= link_to  raw("<div class='dash-knob white center-text'>
                    #{city}</div>"),
              itenerarys_choose_city_path(city: city, id: @itenerary.id),
              remote: true %>
            <% unless city == @destinations.last%>
              <div class="center-text" id= "miles-circle">
                <span id="miles"><%= @distance[city]%> m.</span>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>

  <!-- modal for images --!>
  <div class="hide" id="image-modal">
    <div id="modal-back-img"></div>
    <div id="profile-wrapper">
      <li><h1 id="city-title" class="lobster right"></h1></li>
      <div id="img-modal-nav">
        <%= link_to "X", "#", class: "button tiny", 
           id: "close-image-modal" %>
        <ul>
          <% @destinations.each do |city| %>
             <li class="white", id: "image-description">
               <%= link_to city, itenerarys_choose_city_path(city: city,
                                 id: @itenerary.id), 
                                 remote: true,
                                 class: "city-list",
                                 id: city %>
             </li> 
          <% end %>
         </ul>
      </div>
      <div id="profileBox">
        <div class="row">
          <div class="small-10 medium-centered 
               medium-6 large-centered large-6 columns">
            <img class = "hide" id = "full-image" src = "" >
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  <%= render partial: "/users/itenerary_map", locals: {hash: @hash}%>
</script>

