<div class="row">
  <div class="small-12 large-12 columns">
    <h1 id="welcome">Pals</h1>
    <h2>A place to learn about others</h2>
  </div>
</div>
<div class="row">
  <div class="small-4 large-4 columns">
    <div id="sign-in">
      <%= link_to "login", new_user_session_path, class: "button"%>
      <%= link_to "Sign up", new_user_registration_path, class: "button"%>
    </div>
  </div>
  <div class="small-4 large-6 columns">
  </div>
  <div class="small-0 large-2 colums">
  </div>
</div>
<div class="row">
  <div class="small-2 large-6 columns">
    <div class="right"id="symposium">
      <div id="question">
        "What is your favorite food?"
      </div>
      <div id="answer">
        "I like fried eggs"
      </div>
      <div id="answer_2">
        "I like pizza"
      </div>
    </div>
    <div id="img-mock">
      <%= image_tag "http://linnaedesigns.com/files/seo-galleries/gallery-156/thumbs/indian-child-200x200.jpg"%>
    </div>
    <div id="img-mock">
      <%= image_tag "http://i2.wp.com/www.chengduliving.com/wp-content/uploads/2013/03/inky-thumb.jpg?resize=200%2C200"%>
    </div>
    <div id="img-mock">
      <%= image_tag "http://1.gravatar.com/blavatar/1806dba5487b8978afff3da83c12cf66?s=200"%>
    </div>
    <div id="img-mock">
      <%= image_tag "http://2.bp.blogspot.com/-5rq1gJ-oY5k/TWGfLNf-mhI/AAAAAAAAAKQ/pmJkSxhOjx0/s200/smile"%>
    </div>
  </div>
  <div class="small-4 medium-6 large-6 columns">
    <div id="globe">
      <%= image_tag "http://www.dmr-marc.net/images/globe.png" %>
    </div>
  </div>
</div>
<div class="dark-banner">
</div>


