<div class="banner">
  <div id="globe" >
    <%= image_tag "http://www3.weforum.org/tools/gac/youth-unemployment-visualization-2013/assets/images/1_intro/globe.png" %>
  </div>
  <%= link_to "For Parents", "#", class: "button small", id: "parents-link"%>
  <div class="row">
    <div class="small-12 large-12 columns">
      <h1 id="welcome">Pen-Pals</h1>
      <h2>A safe place to learn about others</h2>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-12 columns">
      <div id="sign-in">
        <%= link_to "login", new_user_session_path, class: "button"%>
        <%= link_to "Sign up", new_user_registration_path, class: "button"%>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-6 medium-6 large-3 columns">
      <%= image_tag "http://linnaedesigns.com/files/seo-galleries/gallery-156/thumbs/indian-child-200x200.jpg", id: "img-mock"%>

      <%= image_tag "http://i2.wp.com/www.chengduliving.com/wp-content/uploads/2013/03/inky-thumb.jpg?resize=200%2C200", id: "img-mock"%>

      <%= image_tag "http://1.gravatar.com/blavatar/1806dba5487b8978afff3da83c12cf66?s=200", id: "img-mock"%>

      <%= image_tag "http://2.bp.blogspot.com/-5rq1gJ-oY5k/TWGfLNf-mhI/AAAAAAAAAKQ/pmJkSxhOjx0/s200/smile", id: "img-mock"%>
    </div>
    <div class="small-6 medium-12 large-3 columns">
      <% @questions.each do |question, answer|%>
        <div id="symposium">
          <div id="question">
            <%= question %>
          </div>
          <% answer.each do |answer, location|%>
            <div class="hide-for-small" id="answer">
              <%= answer %>
            </div>
            <div class="hide-for-small "id="location">
              <%= location %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="hide-for-small medium-6 large-6 columns">
    </div>
  </div>
</div>
<div class="dark-banner">
  <div class="row">
    <div class="small-6 large-12 columns">
      <div id="Parents">
        <h2 id="safe">How we keep your kids safe</h2>
        <%= link_to "The Guardian", "#", class: "button", id: "guard" %>
        <%= link_to "The Scribe", "#", class: "button", id: "scribe" %>
        <%= link_to "The Grandma", "#", class: "button", id: "grandma" %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="small-12 large-6 columns">
      <div class="hide" id="safe-description">
      </div>
      <div class="hide" id= "guard-info">
        <h4>No Interaction occurs without your go ahead. This is a child-guardian
          activity. When your child receives a message you are notified
          by email. If you accept the message your kiddo receives it.</h4>
      </div>
      <div class="hide" id="scribe-info">
        <h4>We keep track of things. Interactions are promoted by the distance
          between users. To accomplish this we measure your distance by geolocation.         In other words we know were everyones at. We want to advertise this. 
          When your kid is logged in there will always be a link named 
          'For Parents' in the top left corner. This is the guardians access to
           a log of interactions.</h4>
      </div>
      <div class="hide" id="grandma-info">
        <h4>My grandma used to make this funny noise when ever she heard a
          bad word. We won't make that noise, but we won't allow any of those 
          words to be used in an interaction. Guardians also have the ability
          to block interactions.</h4>

    </div>
  </div>
</div>


