<div id="guardian">
  <h2 class="white lobster">Guardian Authentication</h2>
  <%= link_to "login", "#", class: "button", id: "guard-login" %>
</div>

<div class="hide" id="login">
  <h2 class="white lobster">Log In</h2>

  <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
    <div><%= f.label :email %><br />
    <%= f.email_field :email, :autofocus => true %></div>

    <div><%= f.label :password %><br />
    <%= f.password_field :password %></div>

    <% if devise_mapping.rememberable? -%>
      <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>

    <div><%= f.submit "Sign in", class: "button" %></div>
  <% end %>

  <%= render "devise/shared/links" %>
  <%= link_to "Home", root_path%></br>
  <%= link_to "Guardian", "#", id: "guard-show"%>
</div>
